/* * {
  font-family: "Exo 2", sans-serif;
} */

body {
  background-attachment: fixed !important;
  min-height: 100vh !important;
  margin: 0 !important;
}

.contenedor-principal {
  background-color: transparent !important;
}
.swal2-container {
  z-index: 9999 !important;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #121212;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #d4af37 0%, #b91c1c 100%);
  border-radius: 5px;
  border: 2px solid #121212;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #ffd700 0%, #ff0000 100%);
}
