* {
  font-family: "Exo 2", sans-serif;
}

body {
  background-attachment: fixed !important;
  min-height: 100vh !important;
  margin: 0 !important;
}

.contenedor-principal {
  background-color: transparent !important;
}
